<a href="https://colab.research.google.com/github/sisifo3/P_T_1/blob/main/Prob_vaccine.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# En esta parte del código buscamos la probabilidad dependiendo de personas vacunadas.

In [ ]:
from google.colab import files
import pandas as pd
import numpy as np

In [ ]:
uploaded = files.upload()

Saving StudentsValues2_S1_S14.csv to StudentsValues2_S1_S14.csv

In [ ]:
df  = pd.read_csv('StudentsValues2_S1_S14.csv')
df.head()

In [ ]:
df.head()

   Unnamed: 0  n    Name.Student                 ID  ... S11 S12  S13  S14
0           1  0  Barry Crawford  [6 9 8 1 6 5 5 2]  ...   0   0    0    1
1           2  1  Graham Watkins  [9 7 1 6 1 8 6 4]  ...   0   1    0    1
2           3  2     John Benner  [5 9 8 4 9 2 7 4]  ...   0   1    0    0
3           4  3     Scott Ewart  [9 3 4 6 1 6 8 3]  ...   0   0    0    1
4           5  4    Annie Paxton  [8 3 3 9 7 2 4 1]  ...   0   0    0    1

[5 rows x 21 columns]

In [ ]:
#s1 = df['S1']
#s1 = s1.to_numpy()
vcc = df['vaccine']
vcc = vcc.to_numpy()
s = ['S1','S2','S3','S4','S5','S6','S7','S8','S9','S10','S11','S12','S13','S14']
CountT = [0]*14
count = 0
j = 0


for val in df[7:14]:
  if val in s:
    s1 = df[val]
    s1 = s1.to_numpy()

    for i in range(9160):
      if vcc[i] == 1 & s1[i]:
        count = count + 1
        #print(i)  
    CountT[j] = count
    j = j + 1


print(CountT)

[4744, 9517, 14143, 18942, 23741, 28329, 32869, 37644, 42150, 46949, 51637, 56207, 60903, 65459]

In [ ]:
#Es la función de probabilidad dependiendo de los casos positivos a,
# y los posibles casos negativos b

def prob(a,b):
  prob_c = a/(b)
  return prob_c

In [ ]:
b = 9160
ii = 0
Tprobabilities = [0] * 14
for value in CountT:
  probabilitie = prob(value,b)
  Tprobabilities[ii] = probabilitie
  ii = ii + 1

print(Tprobabilities)

[0.3411967779056387, 0.5095572094019382, 0.6069175642621122, 0.6740445519891822, 0.7215890094526002, 0.7556616607538211, 0.782055247567156, 0.8042902316041364, 0.8214772948742936, 0.8367463330303516, 0.8493346711186407, 0.8598681291783316, 0.8692605226724519, 0.8772430614186735]

In [ ]:
df2 = pd.DataFrame(s, columns = ['S'])

In [ ]:
df2.insert(1, "probabilities", Tprobabilities, True)

In [ ]:
df2.head()

    S  probabilities
0  S1       0.341197
1  S2       0.509557
2  S3       0.606918
3  S4       0.674045
4  S5       0.721589

In [ ]:
df2.to_csv('Prob_vaccine.csv', sep='\t')