<a href="https://colab.research.google.com/github/sisifo3/P_T_1/blob/main/Prob_con_edf.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# En esta parte del codigo, vamos a buscar la probabilidad dependiendo de la concurrencia de edificio.

In [36]:
from google.colab import files
import pandas as pd
import numpy as np

In [2]:
uploaded = files.upload()

Saving StudentsValues2_S1_S14.csv to StudentsValues2_S1_S14.csv

In [55]:
df  = pd.read_csv('StudentsValues2_S1_S14.csv')

In [56]:
df.head()

   Unnamed: 0  n    Name.Student                 ID  ... S11 S12  S13  S14
0           1  0  Barry Crawford  [6 9 8 1 6 5 5 2]  ...   0   0    0    1
1           2  1  Graham Watkins  [9 7 1 6 1 8 6 4]  ...   0   1    0    1
2           3  2     John Benner  [5 9 8 4 9 2 7 4]  ...   0   1    0    0
3           4  3     Scott Ewart  [9 3 4 6 1 6 8 3]  ...   0   0    0    1
4           5  4    Annie Paxton  [8 3 3 9 7 2 4 1]  ...   0   0    0    1

[5 rows x 21 columns]

In [57]:
s1 = df['S1']
s1 = s1.to_numpy()
s1
count = np.count_nonzero(s1 == 1)
count

1627

In [59]:
MaCounts = np.zeros( (14, 2) )


i = 0
Total_count = [0] * 21
Ss = ['S1','S2','S3','S4','S5','S6','S7','S8','S9','S10','S11','S12','S13','S14']


for val in df:
  sT = df[val]
  st1 = sT.to_numpy()
  countT = np.count_nonzero(st1 == 1)
  Total_count[i] = countT
  i = i+1

print(Total_count)
finalCount = Total_count[7:21]

print(finalCount)
#for j in range(14):
#  MaCounts[j,1] = finalCount[j]
#  MaCounts[j,0] = Ss[j]
  
#print(MaCounts) 


df2 = pd.DataFrame(Ss, columns = ['S'])
df2.insert(1, "Count", finalCount, True)

[1, 1, 0, 0, 0, 0, 4361, 1627, 444, 5365, 0, 0, 5323, 5309, 440, 5299, 0, 1593, 5431, 1577, 5381]
[1627, 444, 5365, 0, 0, 5323, 5309, 440, 5299, 0, 1593, 5431, 1577, 5381]

In [61]:
df2.head()

    S  Count
0  S1   1627
1  S2    444
2  S3   5365
3  S4      0
4  S5      0

In [62]:
sort_df2 = df2.sort_values(by = 'Count')
sort_df2.head()

     S  Count
3   S4      0
4   S5      0
9  S10      0
7   S8    440
1   S2    444

In [69]:
sort_df2.describe()

             Count
count    14.000000
mean   2699.214286
std    2447.843515
min       0.000000
25%     441.000000
50%    1610.000000
75%    5319.500000
max    5431.000000

In [73]:
sum_of_fitness = 1+2+3+4+5+6+7+8+9+10+11+12+13+14
previous_probability = 0

probabilities = [0]*14
fitness = 1

for j in range(14):
  previous_probability = previous_probability + (fitness/ sum_of_fitness)
  fitness = fitness + 1
  probabilities[j] = previous_probability

print(probabilities)

[0.009523809523809525, 0.028571428571428574, 0.05714285714285715, 0.09523809523809525, 0.14285714285714285, 0.19999999999999998, 0.26666666666666666, 0.34285714285714286, 0.4285714285714286, 0.5238095238095238, 0.6285714285714286, 0.7428571428571429, 0.8666666666666667, 1.0]

In [76]:
sort_df2.insert(2, "probabilities", probabilities, True)

In [77]:
sort_df2.head()

     S  Count  probabilities
3   S4      0       0.009524
4   S5      0       0.028571
9  S10      0       0.057143
7   S8    440       0.095238
1   S2    444       0.142857

In [78]:
sort_df3 = sort_df2.sort_values(by = 'S')

In [79]:
sort_df3.head()

      S  Count  probabilities
0    S1   1627       0.342857
9   S10      0       0.057143
10  S11   1593       0.266667
11  S12   5431       1.000000
12  S13   1577       0.200000

In [80]:
df.to_csv('Prob_concurrence.csv', sep='\t')